body {
    direction: rtl;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.form {
    background-color: #222;
    gap: 5px;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.btn {
    gap: 4px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: gray;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 19px;
    width: 100%;
}

.btn:hover {
    background-color: saddlebrown;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}

.success-message {
    color: lightgreen;
    font-size: 18px;
    margin-bottom: 10px;
}